<nav>
  <div class="container">
    <a href="/dashboard">Dashboard</a>
    <a href="/catways">Catways</a>
    <a href="/reservations">Réservations</a>
    <a href="/docs">Docs API</a>
    <a href="/logout">Déconnexion</a>
  </div>
</nav>
